/* FIgure out font soon*/
body {
    background-color: rgb(44, 41, 44);
}

.h-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: aliceblue;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

/* ask about links not being able to be formated*/
header {
    display: flex;
    justify-content: space-between;
}

.img1 {
    background-image: url(Background\ Img.avif);
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.pfp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
}

/* find diffrent typography and img */
.about-me {
    background-image: url(ct-img1.jpg);
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 57, 89);
    width: 50vh;
    height: 45vh;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    background-size: cover;
    display: flex;
    background-position: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    padding: AUTO;
    margin-top: auto;
    margin-bottom: auto;
}

/* move this next to the about me */
/* it will go text img of the portfolio */
.more {
    align-self: center;
}

/*  move project 1 over*/
.Project-1 {
    width: 103vh;
    height: 39vh;
    border-radius: 90px;
    font-size: 36px;
    color: rgb(204, 201, 201);
    padding: 3vh;
}

.flex-format {
    display: flex;
    gap: 5vp;
}

.links-projects a {
    text-decoration: none;
    color: aliceblue;
}

.port-img {
    width: 100vh;
    height: 32vh;
}