/* 
Home css 6 - 96
Project 1 css line 98 
*/

body {
    background-color: rgb(41, 39, 51);
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

/* same for everything above  */
.h-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: aliceblue;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.back-img1 {
    background-image: url(Background\ Img.avif);
    width: 100%;
    min-height: 47vh;
    background-size: cover;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;

}

.pfp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
}

/* find diffrent typography and img */
.about-me {
    background-image: url(ct-img1.jpg);
    display: flex;
    background-color: rgb(20, 57, 89);
    width: 50vh;
    height: 45vh;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.more {
    align-self: center;
}


.Project-1 {
    width: 103vh;
    height: 39vh;
    border-radius: 90px;
    font-size: 36px;
    color: rgb(204, 201, 201);
    padding: 3vh;
    font-size: 15px;
    padding-left: 10vh;
}

.flex-format {
    display: flex;
    gap: 5vp;
}

.links-projects a {
    text-decoration: none;
    color: aliceblue;
}

.port-img {
    width: 100vh;
    height: 32vh;
}

/* CSS for p1-website */
.flex-format1 {
    display: flex;
    gap: 5vp;
    flex-wrap: wrap;
}

.h-page2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

.port-img-home {
    width: 100vh;
    height: 30vh;
}

.back-img2 {
    background-image: url(background-img2.jpg);
    width: 35%;
    min-height: 45vh;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background-size: cover;
}

.pfp-2 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
}

.Reflection {
    width: 103vh;
    height: 39vh;
    border-radius: 90px;
    font-size: 36px;
    color: rgb(204, 201, 201);
    padding: 3vh;
    font-size: 15px;
    flex-direction: row;
}

/* change formating for and move headings to middle of picture of coming soon */
.Project-2-port1 {
    width: 50%;
    height: 39vh;
    border-radius: 90px;
    font-size: 36px;
    color: rgb(204, 201, 201);
    font-size: 15px;
}

.port-img-p1 {
    width: 50vh;
    height: 60vh;
    padding: 3vh;
}

.Project-3-port1 {
    width: 50%;
    height: 39vh;
    border-radius: 90px;
    font-size: 36px;
    color: rgb(204, 201, 201);
    font-size: 15px;

}

.Project-4-port1 {
    width: 50%;
    height: 39vh;
    border-radius: 90px;
    font-size: 36px;
    color: rgb(204, 201, 201);
    font-size: 15px;
}

.flexfix1 {
    flex-direction: row;
    display: flex;
}